header .sun {
    width: 3.125rem;
    height: 3.125rem;
    position: relative;
  
    filter: blur(1.5px);
    border-radius: 50%;
    
    background-color: #ffde00;
    box-shadow: 0 0 0 2px #ffde0080, 0 0 0 4px #ffde0040, 0 0 0 6px #ffde0020,
      0 0 0 8px #ffde0010, 0 0 0 10px #ffde0000, 0 0 40px 10px #ffde0010;
    animation: sunrise 1s infinite linear, rays 2s 2s infinite linear;
  }
  
.shooting-star {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 0.25rem;
    height: 0.25rem;
  
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1),
      0 0 0 0.5rem rgba(255, 255, 255, 0.1), 0 0 1.25rem rgba(255, 255, 255, 1);
    animation: shooting-star 3s linear infinite;
  }
  
  .shooting-star::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
    width: 18.75rem;
    height: 0.0625rem;
    background: linear-gradient(90deg, rgb(162, 236, 225), transparent);
  }
  
  .shooting-star:nth-child(1) {
    top: -10rem;
    right: 0;
    left: initial;
  
    animation-delay: 0;
    animation-duration: 1s;
  }
  
  .shooting-star:nth-child(2) {
    top: -10rem;
    right: 5rem;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
  }
  
  .shooting-star:nth-child(3) {
    top: -10rem;
    right: 8rem;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
  }
  
  .shooting-star:nth-child(4) {
    top: -10rem;
    right: 11.25rem;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 2.5s;
  }
  
  .shooting-star:nth-child(5) {
    top: -10rem;
    right: 15rem;
    left: 0;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
  }
  
  .shooting-star:nth-child(6) {
    top: -10rem;
    right: 25rem;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
  }
  .shooting-star:nth-child(7) {
    top: 18.75rem;
    right: 0;
    left: initial;
    animation-delay: 1s;
    animation-duration: 2.75s;
  }
  
  .shooting-star:nth-child(8) {
    top: -10rem;
    right: 43.75rem;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 2.25s;
  }
  
  .shooting-star:nth-child(9) {
    top: -10rem;
    right: 62.5rem;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
  }
  
  .shooting-star:nth-child(10) {
    top: -10rem;
    right: 62.5rem;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
  }

  .shooting-star:nth-child(11) {
    top: -10rem;
    right: 22.5rem;
    left: initial;
    animation-delay: 1.75s;
    animation-duration: 2.25s;
  }

  .shooting-star:nth-child(12) {
    top: -10rem;
    right: 32.5rem;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
  }
  
  .shooting-star:nth-child(13) {
    top: -10rem;
    right: 42.5rem;
    left: initial;
    animation-delay: 1.5s;
    animation-duration: 2.25s;
  }
  

@keyframes sunrise {
    0% {
      box-shadow: 0 0 0 2px #ffde0080, 0 0 0 4px #ffde0040, 0 0 0 6px #ffde0020,
        0 0 0 8px #ffde0010, 0 0 0 10px #ffde0000, 0 0 40px 10px #ffde0010;
      filter: blur(0);
    }
  }
  

  @keyframes rays {
    0% {
      filter: blur(2px);
  
      box-shadow: 0 0 0 0px #ffde0080, 0 0 0 5px #ffde0080, 0 0 0 10px #ffde0040,
        0 0 0 20px #ffde0020, 0 0 0 30px #ffde0010, 0 0 10px 40px #ffde0010;
    }
    100% {
      filter: blur(2px);
  
      box-shadow: 0 0 0 5px #ffde0080, 0 0 0 10px #ffde0040, 0 0 0 20px #ffde0020,
        0 0 30px #ffde0010, 0 0 0 40px #ffde0000, 0 0 10px 40px #ffde0010;
    }
  }

  @keyframes shooting-star {
    0% {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(315deg) translateX(-1500px);
      opacity: 0;
    }
  }