* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

:root {
  font-size: 16px;
  --text-color: hsl(0, 0%, 100%);
  --menu-text-color: hsl(0, 0%, 100%);
  --menu-text-color-hover: hsl(55, 100%, 50%);

  --button-color: hsla(0, 0%, 100%, 1);
  --button-color-hover: hsl(0, 0%, 100%);
  --button-text-color-hover: hsl(163, 100%, 15%);
}

body {
  background-image: url('/src/images/background.jpg');
  background-size: cover;

  width: 100%;
  height: 100vh;
  position: relative;
  padding: 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sun.invisible {
  display: none;
}

header nav.close {
  display: none;
}

header nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: fixed;
  top: 4rem;
  right: 0.5rem;
  z-index: 2;
}

header nav.links a {
  color: var(--menu-text-color);
  text-decoration: none;
  text-align: end;

  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1rem;

  transition: all 350ms ease-in-out;

  text-align: right;
}

header nav.links a:hover {
  transform: scale(1.1) translateX(-1rem);
  font-weight: 700;

  color: var(--menu-text-color-hover);
  transition: all 350ms;
}

.menu-btn,
.close-menu {
  cursor: pointer;
  display: none;
}

.menu-btn.activeBtn,
.close-menu.activeBtn {
  display: block;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

}

h1,
p {
  color: var(--text-color);
}

h1 {
  font-style: normal;
  font-weight: 700;
}

.home {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;

  margin-top: 8rem;

}

.home a {
  align-items: center;
  padding: 0.75em 2em;
  border: 0.125em solid var(--button-color);
  border-radius: 0.5em;

  font-weight: bold;
  color: var(--button-color);
  text-transform: uppercase;

  transition: all 350ms;
}

.home a:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text-color-hover);
  transition: all 350ms;
}

.container {
  width: min(648px, 99%);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.content {
  width: min(648px, 99%);
  align-items: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1rem;

  background-color: hsla(0, 0%, 0%, 0.168);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
}

.home h1,
.content h1 {
  font-size: 2rem;
  text-align: left;
}

.content p {
  font-weight: 400;
  font-size: 1em;
  line-height: 2em;

  text-align: left;
}

.error {
  font-size: 3em;
  text-align: center;
  margin-top: 14.5rem;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 600px) {
  header {
    justify-content: flex-start;
    gap: 2.5rem;
    padding: 4.5rem;
    width: 100%;
  }

  .menu-btn.activeBtn,
  .close-menu.activeBtn {
    display: none;
  }

  .sun.invisible {
    display: block;
    padding: 2rem;
    align-self: flex-start;
  }

  .mobileIcon {
    display: none;
  }

  header nav.close {
    display: flex;
  }

  header nav {
    flex-direction: row;
    position: initial;
    gap: 2rem;
  }

  header nav.links a {
    transition: all 350ms;
  }

  header nav.links a:hover {
    font-size: bold;
    color: var(--menu-text-color-hover);
    transition: all 350ms;
    transform: scale(1.2);
  }

  #app {

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    align-items: center;
  }

  .home h1,
  .content h1 {
    font-size: 3em;
  }

  .content p {
    text-align: center;
    font-size: 1.125em;
  }
}
